@use "@/ui/styles/variables" as *;
@use "@/ui/styles/mixins" as *;

.embla {
  overflow: hidden;
}

.emblaContainer {
  display: flex;
}

.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
}

.emblaDots {
  @include flex-center;
  gap: $spacing-sm;
  margin-top: $spacing-md;
}

.emblaDot {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  border: 1px solid var(--brand-bg-2);

  &.isSelected {
    background-color: var(--brand-bg-2);
  }
}
