@use "@/ui/styles/mixins" as *;

.bodyWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  @include respond-to(md) {
    min-height: 100vh;
    height: 100vh;
  }
}

.bodyContent {
  flex: 1 1 auto;
  min-height: 0;
  background-color: var(--gray-8);

  @include respond-to(md) {
    height: calc(100% - 4rem);
  }
}
