@use "./mixins" as *;

.title {
  font-size: 6rem;
  line-height: 7.2rem;
  font-family: var(--font-bGr);

  @include respond-to(md) {
    font-size: 7.2rem;
    line-height: 8.6rem;
  }
}

.subTitle {
  font-size: 3rem;
  line-height: 4.2rem;
  font-weight: 200;
  color: var(--brand-bg-2);

  @include respond-to(md) {
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
}

.sectionTitle {
  font-size: 5.2rem;
  line-height: 6.6rem;
  font-family: var(--font-bGr);
  color: var(--brand-main-1);

  @include respond-to(md) {
    font-size: 6.4rem;
    line-height: 7.8rem;
  }

  a {
    font-family: var(--font-dm-sans);
  }
}
