@use "./variables" as *;
@use "./mixins" as *;

.home-bg {
  background-color: var(--brand-bg-1);
  min-height: 100vh;
  padding: $spacing-xl 2rem;
  padding-bottom: 0;
  overflow-x: hidden;

  @include respond-to(md) {
    padding: $spacing-xl;
    padding-bottom: 0;
  }
}

.container {
  @include container;
}

.primary-link {
  border: none;
  background-color: var(--brand-main-1);
  color: var(--brand-bg-2);
  padding: $spacing-sm $spacing-lg;
  border-radius: 32px;
  font-weight: bold;
  line-height: 2rem;
  font-size: 1.6rem;

  &.large {
    font-size: 2.4rem;
    padding: $spacing-md $spacing-xl;
  }
}

.secondary-link {
  border: 1px solid var(--brand-main-1);
  color: var(--brand-main-1);
  padding: $spacing-sm $spacing-lg;
  border-radius: 32px;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
}

.panel {
  padding: $spacing-sm;

  &.left {
    padding-right: $spacing-xs;
  }

  &.right {
    padding-left: $spacing-xs;
  }

  &.top {
    padding-bottom: $spacing-xs;
  }

  &.bottom {
    padding-top: $spacing-xs;
  }
}

.panel-layout {
  height: 100%;
  border-radius: 6px;
  background-color: var(--gray-1);
}