@use "src/ui/styles/variables" as *;

.fileTabs {
  background-color: var(--gray-7);
  border-radius: $radius-md $radius-md 0 0;

  [role="tablist"] {
    display: flex;
    gap: 0.5rem;

    [role="tab"] {
      padding: 0.5rem;
      display: flex;
      border-radius: $radius-md $radius-md 0 0;
      background-color: var(--gray-1);
    }

    svg {
      cursor: pointer;
    }
  }
}
