@use "src/ui/styles/mixins" as *;

.main {
  width: min(76.8rem, 90%);
  margin: 2rem auto;

  .updateForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    label {
      font-weight: 500;
    }

    .submission {
      @include flex-between;

      > :last-child {
        margin-left: auto;
      }
    }
  }
}
