@use "../../../styles/variables" as *;

.infoCard {
  border-radius: $spacing-lg;
  padding: $spacing-lg;
  width: 29.6rem;
  color: white;
  background: linear-gradient(180deg, rgba(213, 213, 213, 0.2) 0%, rgba(3, 174, 102, 0.05) 100%);
  border: 1px solid linear-gradient(180deg, #d5d5d5 0%, rgba(3, 174, 102, 0.25) 100%);
}

.imageContainer {
  width: $spacing-2xl;
  height: $spacing-2xl;

  img {
    width: 100%;
    height: 100%;
  }
}

.title {
  font-size: 2.4rem;
  font-weight: 200;
  line-height: 3.2rem;
  margin: 2rem 0;
}

.description {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 2rem;
}
