@use "src/ui/styles/home";
@use "src/ui/styles/variables" as *;
@use "src/ui/styles/mixins" as *;

.background {
  padding: $spacing-3xl $spacing-xl;
  background: url("/vibrant.png") no-repeat;
  background-size: 100% 100%;
  margin-left: -$spacing-xl;
  width: 100vw;

  @include respond-to(md) {
    padding: $spacing-4xl;
  }

  @include respond-to(xl) {
    margin-left: calc(($container-max-width - 100vw) / 2);
  }
}

.practiceContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: flex-start;
  justify-content: space-between;

  .infoCards {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    justify-content: center;
    margin: 4rem auto;
  }

  .infoCard:first-child {
    transform: rotate(-5deg);
  }

  .infoCard:last-child {
    transform: rotate(5deg);
  }

  @include respond-to(lg) {
    flex-direction: row;

    .infoCards {
      flex-direction: row;
      gap: 0;
      margin: 0;
    }

    .infoCard:last-child {
      transform: translate(-20%, 38%) rotate(5deg);
    }
  }
}

.links {
  @include flex-column-center;
  gap: $spacing-lg;
  margin-top: $spacing-xl;

  @include respond-to(md) {
    flex-direction: row;
  }
}
