@use "src/ui/styles/home";

.featureCard {
  width: 90%;
  margin: 0 auto;
  height: 300px;
  border-radius: 24px;
  border: 4px solid linear-gradient(180deg, rgba(213, 213, 213, 0.75) 0%, rgba(3, 174, 102, 0.25) 100%);
  position: relative; // required for next/image fill
  overflow: hidden;
}

.featureCard img {
  border-radius: 24px;
}

.featureTitle {
  font-size: 24px;
  color: var(--brand-bg-2);
  margin: 16px 0;
  text-align: center;
}

@media (width >=768px) {
  .featureCard {
    width: 618px;
    height: 432px;
  }
}