@use "../../../../styles/home";
@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.featureCard {
  width: 90%;
  margin: 0 auto;
  height: 30rem;
  border-radius: $spacing-lg;
  border: 4px solid linear-gradient(180deg, rgba(213, 213, 213, 0.75) 0%, rgba(3, 174, 102, 0.25) 100%);
  position: relative; // required for next/image fill
  overflow: hidden;

  img {
    border-radius: $spacing-lg;
  }

  @include respond-to(md) {
    width: 61.8rem;
    height: 43.2rem;
  }
}

.featureTitle {
  font-size: 2.4rem;
  color: var(--brand-bg-2);
  margin: $spacing-md 0;
  text-align: center;
}
