@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;

.verticalCenter {
  @include flex-center;
  margin-top: 2rem;
}

.testResultsWrapper {
  .testResults {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
    margin-bottom: $spacing-lg;
  }
}
