@use "src/ui/styles/variables" as *;
@use "src/ui/styles/mixins" as *;
@use "src/ui/styles/utilities";

.verticalCenter {
  @extend .vertical-center;
}

.testResultsWrapper {
  .testResults {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
    margin-bottom: $spacing-lg;
  }
}