@use "src/ui/styles/mixins" as *;

.authFormWrapper {
  text-align: center;
  margin: 1rem auto;

  .authForm {
    @include flex-column-center;
    gap: 2rem;
  }

  .authFormLinks {
    @include flex-between;
    gap: 1rem;
    margin-top: 2rem;
  }
}
