@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.navbar {
  @include flex-between;
  padding: 1.4rem $spacing-lg;
  border-radius: 10rem;
  font-size: 2rem;
  background: #00110a80;
  backdrop-filter: blur($spacing-lg);
  box-shadow: 0px 0px $spacing-md 0px #f2fbf740;
  position: relative;
  z-index: 1;
}

.hamburgerButton {
  background: none;
  border: none;
  cursor: pointer;
}

.collapsibleContent {
  position: absolute;
  right: 0;
  top: 120%;
  width: 100%;
  background: #00110a;
  backdrop-filter: blur($spacing-lg);
  box-shadow: 0px 0px $spacing-md 0px #f2fbf740;
  padding: $spacing-lg;
  border-radius: 3rem;
  z-index: 10;
}
