@use "../../../styles/variables" as *;

.codeSnippet {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;

  .lineNumber {
    margin: 0 2rem 0 1rem;
    user-select: none;
    color: lightgray;
  }

  pre {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
