@use "src/ui/styles/variables" as *;
@use "src/ui/styles/mixins" as *;

.searchBarWrapper {
  width: 100%;
  margin-top: $spacing-md;
  display: flex;
  justify-content: flex-end;

  @include respond-to(md) {
    margin-top: 2rem;
  }
}

.searchInput {
  width: 100%;
  margin-right: 0;

  @include respond-to(md) {
    width: 40rem;
    margin-right: 5%;
  }
}